body{
    text-align: center ;
}

div{
    background:linear-gradient(#EA2027, #EE5A24 , #F79F1F, #FFC312);
    
}
#p{
    width: 1000px;
}
h1{
    font-size: 100px;
}
h4{
    font-size: 50px;
}